@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

:root {
  --base-color: #fff;
  --text-color: #262a3f;
  --text-accent-color: #85bbb1;
  --button-color: #f1897b;
  --button-color-dark: #e54f3a;
  --button-border: #e4e4e4;
  --link-hover-color: #f1897b;
  --first-screen: url("../assets/img/First-Screen-Bg-Image.png");
}

.darkmode {
  --base-color: #000;
  --text-color: #fff;
  --text-accent-color: #689ff2;
  --button-color: #53f3cd;
  --button-color-dark: #02e0ab;
  --button-border: #515773;
  --link-hover-color: #53f3cd;
  --first-screen: url("../assets/img/first-screen-image-dark.png");
}

.theme-switch-btn {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.theme-switch-btn svg {
  fill: var(--text-color);
}

.theme-switch-btn svg:last-child {
  display: none;
}

.darkmode .theme-switch-btn svg:first-child {
  display: none;
}

.darkmode .theme-switch-btn svg:last-child {
  display: block;
}

html,
body {
  width: 100vw;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--base-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
}

.bg, .quote-bg::after, .quote-bg::before, .page-bg::before {
  position: absolute;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-bg::before {
  content: "";
  position: absolute;
  background-image: var(--first-screen);
  height: 993px;
}

.header {
  position: relative;
  margin-top: 30px;
  padding: 24px 0;
  backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.02), linear-gradient(91deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 51.07%, rgba(255, 255, 255, 0.5) 100%);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header__logo {
  flex-grow: 1;
  z-index: 2;
  position: relative;
}
.header__list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}
.header__link {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  color: var(--text-color);
  position: relative;
}
.header__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--link-hover-color);
  transition: all 0.3s linear;
  opacity: 0;
}
.header__link:hover::after {
  opacity: 0.3;
}

.header__burger {
  display: none;
  position: relative;
  width: 34px;
  height: 20px;
}

.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 2px;
  left: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  display: block;
  position: relative;
  left: 0;
  top: 10px;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header__burger.active::before {
  transform: rotate(405deg);
  top: 50%;
  transition: 0.4s linear;
}

.header__burger.active::after {
  transform: rotate(-405deg);
  top: 50%;
  transition: 0.4s linear;
}

.header__burger.active span {
  transform: scale(0);
}

.title_1, .title_2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(24px, 5vw, 44px);
  line-height: 118%;
}

.title_2 {
  font-size: clamp(20px, 5vw, 40px);
  line-height: 120%;
}

.title_3, .quote__title_3 {
  font-size: clamp(19px, 4vw, 32px);
  line-height: 144%;
  letter-spacing: 0.04em;
  color: var(--base-color);
  max-width: 870px;
  padding-top: 70px;
  padding-left: 160px;
}

.title_4 {
  font-family: "Playfair Display", serif;
  font-size: clamp(16px, 4vw, 24px);
  line-height: 200%;
}

.title_5 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: var(--base-color);
}

.italic {
  font-style: italic;
  color: var(--text-accent-color);
  display: inline-block;
}

.text, .footer__text {
  font-weight: 300;
  line-height: 144%;
  opacity: 0.8;
}

.text_sm {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--base-color);
}

.title_xtra {
  font-family: "Playfair Display", serif;
  font-size: 68px;
  line-height: 106%;
  text-align: center;
  max-width: 370px;
}

.section {
  margin-bottom: 120px;
}

.hero {
  max-width: 523px;
}

.image {
  position: relative;
  max-width: 570px;
  max-height: 670px;
}
.image img {
  object-fit: cover;
}

.content {
  position: absolute;
  min-width: 770px;
  max-height: 580px;
  background: var(--base-color);
  opacity: 0.9;
  left: 400px;
  top: 45px;
  padding: 45px 0;
}
.content__box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 45px;
  gap: 50px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}

.row {
  min-width: 370px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  padding: 50px 35px;
  max-width: 570px;
  max-height: 280px;
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}

.quote-bg {
  position: relative;
  background: rgba(25, 28, 41, 0.84);
  max-height: 400px;
}
.quote-bg::before {
  content: "";
  position: absolute;
  background-image: url("../assets/img/quote-background.png");
  z-index: -2;
}
.quote-bg::after {
  content: "";
  position: absolute;
  background-image: url("../assets/img/quote-icon.svg");
  left: 100px;
  top: 70px;
  max-width: 102px;
  max-height: 84px;
  z-index: -1;
}

.quote__title_3 {
  color: #fff;
}
.quote__text {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: #fff;
  padding-left: 160px;
  padding-bottom: 30px;
}

.video {
  width: 100%;
  height: 100%;
}
.video__wrapper {
  padding: 0 100px;
}
.video__inner {
  position: relative;
  max-width: 970px;
  max-height: 600px;
}

.grid {
  padding: 75px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 70px;
}

.feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  place-items: center;
}

.grid__item {
  background-image: url("../assets/img/item_bg_1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  max-width: 370px;
}

.grid__item_bg_2 {
  background-image: url("../assets/img/item_bg_2.png");
}

.grid__item_bg_3 {
  background-image: url("../assets/img/item_bg_3.png");
}

.contact__wrapper {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 60px 0 100px;
}
.contact__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 200px;
  row-gap: 30px;
}
.contact__info .text, .contact__info .footer__text {
  max-width: 470px;
}
.contact__form {
  max-width: 470px;
  flex-grow: 1;
}

.form__label {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  line-height: 111%;
  letter-spacing: 0.08em;
  border-bottom: 1px solid #e4e4e4;
  color: #262a3f;
}

.form__label:focus-within {
  border-bottom: 1px solid #1279a8;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
}
.footer__text {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 186%;
}
.footer__text_2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  color: #262a3f;
  opacity: 1;
}
.footer__links {
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn, .btn-border {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--button-color);
  position: relative;
  transition: all 0.3s linear;
  display: block;
}
.btn::after, .btn-border::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 13px;
  background-color: var(--button-color);
  opacity: 0.3;
  left: 10px;
  bottom: -3px;
  transition: all 0.3s linear;
}
.btn:hover, .btn-border:hover {
  color: var(--button-color-dark);
}
.btn:hover::after, .btn-border:hover::after {
  opacity: 0.5;
}

.btn-border {
  padding: 33px 89px;
  border: 1px solid var(--button-border);
  white-space: nowrap;
}
.btn-border::after {
  content: "";
  position: fixed;
}

.btn-border:hover {
  border: 1px solid var(--button-color-dark);
}

.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mb_12 {
  margin-bottom: 12px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mb_100 {
  margin-bottom: 100px;
}

.mb_150 {
  margin-bottom: 150px;
}

.mt_20 {
  margin-top: 20px;
}

.ml_12 {
  margin-left: 12px;
}

.w_400 {
  max-width: 400px;
}

.w_440 {
  max-width: 440px;
}

.w_800 {
  max-width: 800px;
}

.text_center {
  text-align: center;
}

.line {
  position: relative;
  padding-bottom: 40px;
}
.line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: #85bbb1;
}

.p_0 {
  padding: 0;
}

.op_0-6 {
  opacity: 0.6;
}

@media screen and (max-width: 1200px) {
  .card {
    padding: 30px;
    max-width: 390px;
  }
  .grid__item {
    justify-content: start;
  }
}
@media screen and (max-width: 992px) {
  .title_xtra {
    font-size: 40px;
  }
  .image {
    max-width: 100%;
    overflow: hidden;
  }
  .image img {
    object-fit: contain;
    width: 100%;
  }
  .content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
  }
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    max-width: 100vw;
    height: 80px;
    z-index: 1;
  }
  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #c3cfdd;
    z-index: 2;
  }
  .header__burger {
    display: block;
    z-index: 2;
  }
  .header__menu {
    position: fixed;
    background-color: #2baa84;
    left: -100%;
    top: 80px;
    padding: 20px;
    width: 100%;
    overflow: auto;
    transition: all 0.5s ease-in;
    z-index: 2;
  }
  .header__menu.active {
    left: 0;
  }
  .header__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main {
    margin-top: 100px;
    position: relative;
  }
  .main.active {
    z-index: -1;
  }
  .title_xtra {
    font-size: 34px;
  }
  .section {
    margin-bottom: 70px;
  }
  .contact__wrapper {
    padding: 20px 0;
  }
  .contact__inner {
    align-items: center;
  }
  .contact .quote__text {
    font-size: 16px;
    padding-left: 100px;
  }
  .contact .title_3, .contact .quote__title_3 {
    padding-left: 100px;
  }
  .video__wrapper {
    padding: 0;
  }
  .grid__container {
    grid-template-columns: 1fr;
  }
  .grid {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 15px;
  }
  .feature-box {
    justify-content: start;
  }
  .footer__wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 640px) {
  .header.mb_150 {
    margin-bottom: 50px;
  }
  .title_xtra {
    font-size: 28px;
  }
  .section {
    margin-bottom: 40px;
  }
  .grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
  }
  .quote__text {
    font-size: 14px;
    padding-left: 30px;
  }
  .title_3, .quote__title_3 {
    padding-left: 30px;
  }
  .grid {
    gap: 15px;
  }
  .play-btn {
    z-index: 1;
  }
  .play-btn img {
    width: 50px;
    height: 50px;
  }
  .column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
  }
  .row {
    min-width: auto;
  }
  .content {
    min-width: 640px;
  }
  .content__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .line {
    padding-bottom: 5px;
  }
  .line:after {
    opacity: 0.01;
  }
  .clients {
    text-align: center;
  }
  .mb_50 {
    margin-bottom: 10px;
  }
  .text, .footer__text {
    font-size: 16px;
  }
  .footer__links {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .video__inner {
    border: 1px solid rgb(165, 148, 148);
    padding: 20px;
    border-radius: 8px;
    width: 100vw;
  }
  .grid {
    gap: 10px;
  }
  .content {
    min-width: 480px;
  }
  .content__box {
    padding-left: 50px;
  }
  .column {
    grid-template-columns: 70px 150px 70px;
    gap: 10px;
  }
  .btn, .btn-border {
    font-weight: 400;
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */