$font-family: 'Lato', sans-serif;
$second-family: 'Playfair Display', serif;

$container-width: 1200px;

$text-red: #f1897b;
$text-red-dark: #e54f3a;
$text-white: #fff;
$text-green: #85bbb1;

$light-background: #fff;
$dark-background: #000;
