@use 'reset';
@use 'fonts';
@use 'vars' as v;
@use 'mixins' as m;
@use 'theme';

html,
body {
  width: 100vw;
  min-height: 100%;
  font-family: v.$font-family;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--base-color);
}

.container {
  max-width: v.$container-width;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
}

.bg {
  position: absolute;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-bg::before {
  @extend .bg;
  content: '';
  position: absolute;
  background-image: var(--first-screen);
  height: 993px;
  // z-index: -1;
}

// header

.header {
  position: relative;
  margin-top: 30px;
  padding: 24px 0;
  backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.02),
    linear-gradient(
      91deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 51.07%,
      rgba(255, 255, 255, 0.5) 100%
    );

  &__body {
    @include m.flex(space-between, center);
    gap: 50px;
  }
  &__logo {
    flex-grow: 1;
    z-index: 2;
    position: relative;
  }
  &__list {
    @include m.flex(end, center);
    gap: 30px;
  }

  &__link {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.08em;
    color: var(--text-color);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--link-hover-color);
      transition: all 0.3s linear;
      opacity: 0;
    }

    &:hover::after {
      opacity: 0.3;
    }
  }
}

// burger menu

.header__burger {
  display: none;
  position: relative;
  width: 34px;
  height: 20px;
  // order: 3;
  // z-index: 4;
}

.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 2px;
  left: 0;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  display: block;
  position: relative;
  left: 0;
  top: 10px;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header__burger.active::before {
  transform: rotate(405deg);
  top: 50%;
  transition: 0.4s linear;
}
.header__burger.active::after {
  transform: rotate(-405deg);
  top: 50%;
  transition: 0.4s linear;
}
.header__burger.active span {
  transform: scale(0);
}

// headings

.title_1 {
  font-family: v.$second-family;
  font-size: clamp(24px, 5vw, 44px);
  line-height: 118%;
}

.title_2 {
  @extend .title_1;

  font-size: clamp(20px, 5vw, 40px);
  line-height: 120%;
}

.title_3 {
  font-size: clamp(19px, 4vw, 32px);
  line-height: 144%;
  letter-spacing: 0.04em;
  color: var(--base-color);
  max-width: 870px;
  padding-top: 70px;
  padding-left: 160px;
}

.title_4 {
  font-family: v.$second-family;
  font-size: clamp(16px, 4vw, 24px);
  line-height: 200%;
}

.title_5 {
  font-family: v.$second-family;
  font-style: italic;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: var(--base-color);
}

.italic {
  font-style: italic;
  color: var(--text-accent-color);
  display: inline-block;
}

.text {
  font-weight: 300;
  line-height: 144%;
  opacity: 0.8;
}

.text_sm {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--base-color);
}

.title_xtra {
  font-family: v.$second-family;
  font-size: 68px;
  line-height: 106%;
  text-align: center;
  max-width: 370px;
}

// sections

.section {
  margin-bottom: 120px;
}

.hero {
  max-width: 523px;
}

// -------
.image {
  position: relative;
  max-width: 570px;
  max-height: 670px;

  & img {
    object-fit: cover;
  }
}

.content {
  position: absolute;
  min-width: 770px;
  max-height: 580px;
  background: var(--base-color);
  opacity: 0.9;
  left: 400px;
  top: 45px;
  padding: 45px 0;

  &__box {
    @include m.flex(space-between, start);
    padding: 45px;
    gap: 50px;
  }
}

.column {
  @include m.flex(center, start);
  flex-direction: column;
  gap: 40px;
}

.row {
  min-width: 370px;
}

// ------------

.card-wrapper {
  @include m.flex(center, center);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  padding: 50px 35px;
  max-width: 570px;
  max-height: 280px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
  }
}

//  --------

.quote-bg {
  position: relative;
  background: rgba(25, 28, 41, 0.84);
  max-height: 400px;

  &::before {
    @extend .bg;
    content: '';
    position: absolute;
    background-image: url('../assets/img/quote-background.png');
    z-index: -2;
  }

  &::after {
    @extend .bg;
    content: '';
    position: absolute;
    background-image: url('../assets/img/quote-icon.svg');
    left: 100px;
    top: 70px;
    max-width: 102px;
    max-height: 84px;
    z-index: -1;
  }
}

.quote {
  &__title_3 {
    @extend .title_3;
    color: #fff;
  }
  &__text {
    font-family: v.$second-family;
    font-style: italic;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: v.$text-white;
    padding-left: 160px;
    padding-bottom: 30px;
  }
}

// video
.video {
  width: 100%;
  height: 100%;

  &__wrapper {
    padding: 0 100px;
  }

  &__inner {
    position: relative;
    max-width: 970px;
    max-height: 600px;
  }
}

// features

.grid {
  padding: 75px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 70px;
}
.feature {
  &-box {
    @include m.flex(center, center);
    padding: 13px 0;
  }
}

// client

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  place-items: center;
}

.grid__item {
  background-image: url('../assets/img/item_bg_1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  max-width: 370px;
}
.grid__item_bg_2 {
  background-image: url('../assets/img/item_bg_2.png');
}
.grid__item_bg_3 {
  background-image: url('../assets/img/item_bg_3.png');
}

// form

.contact {
  &__wrapper {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 60px 0 100px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 30px;
  }

  &__info {
    & .text {
      max-width: 470px;
    }
  }

  &__form {
    max-width: 470px;
    flex-grow: 1;
  }
}

.form__label {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 12px;
  font-family: v.$second-family;
  font-style: italic;
  line-height: 111%;
  letter-spacing: 0.08em;
  border-bottom: 1px solid #e4e4e4;
  color: #262a3f;
}

.form__label:focus-within {
  border-bottom: 1px solid #1279a8;
}

// footer
.footer {
  &__wrapper {
    @include m.flex(space-between, center);
    padding: 31px 0;
  }

  &__text {
    @extend .text;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 186%;
  }
  &__text_2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.08em;
    color: #262a3f;
    opacity: 1;
  }

  &__links {
    gap: 32px;
    @include m.flex(center, center);
  }
}

// buttons

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--button-color);
  position: relative;
  transition: all 0.3s linear;
  display: block;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 13px;
    background-color: var(--button-color);
    opacity: 0.3;
    left: 10px;
    bottom: -3px;
    transition: all 0.3s linear;
  }

  &:hover {
    color: var(--button-color-dark);
  }
  &:hover::after {
    opacity: 0.5;
  }
}

.btn-border {
  @extend .btn;
  padding: 33px 89px;
  border: 1px solid var(--button-border);
  white-space: nowrap;

  &::after {
    content: '';
    position: fixed;
  }
}

.btn-border:hover {
  border: 1px solid var(--button-color-dark);
}

.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//  helpers
.mb_12 {
  @include m.margin-bottom(12px);
}
.mb_20 {
  @include m.margin-bottom(20px);
}
.mb_30 {
  @include m.margin-bottom(30px);
}
.mb_40 {
  @include m.margin-bottom(40px);
}
.mb_50 {
  @include m.margin-bottom(50px);
}
.mb_100 {
  @include m.margin-bottom(100px);
}

.mb_150 {
  @include m.margin-bottom(150px);
}

.mt_20 {
  margin-top: 20px;
}

.ml_12 {
  margin-left: 12px;
}

.w_400 {
  max-width: 400px;
}
.w_440 {
  max-width: 440px;
}
.w_800 {
  max-width: 800px;
}

.text_center {
  text-align: center;
}

.line {
  position: relative;
  padding-bottom: 40px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: v.$text-green;
  }
}

.p_0 {
  padding: 0;
}

.op_0-6 {
  opacity: 0.6;
}

//  media queries

@media screen and (max-width: 1200px) {
  .card {
    padding: 30px;
    max-width: 390px;
  }

  .grid__item {
    justify-content: start;
  }
}

@media screen and (max-width: 992px) {
  // headings

  .title_xtra {
    font-size: 40px;
  }

  // hero
  .image {
    max-width: 100%;
    overflow: hidden;

    & img {
      object-fit: contain;
      width: 100%;
    }
  }
  .content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
  }

  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  // header
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    max-width: 100vw;
    height: 80px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #c3cfdd;
      z-index: 2;
    }

    &__burger {
      display: block;
      z-index: 2;
    }

    &__menu {
      position: fixed;
      background-color: #2baa84;
      left: -100%;
      top: 80px;
      padding: 20px;
      width: 100%;
      overflow: auto;
      transition: all 0.5s ease-in;
      z-index: 2;
      &.active {
        left: 0;
      }
    }

    &__list {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .main {
    margin-top: 100px;
    position: relative;
  }
  .main.active {
    z-index: -1;
  }
  // headings

  .title_xtra {
    font-size: 34px;
  }

  // hero

  .section {
    margin-bottom: 70px;
  }
  .contact {
    &__wrapper {
      padding: 20px 0;
    }

    &__inner {
      align-items: center;
    }

    .quote {
      &__text {
        font-size: 16px;
        padding-left: 100px;
      }
    }

    .title_3 {
      padding-left: 100px;
    }
  }
  .video__wrapper {
    padding: 0;
  }
  .grid__container {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 15px;
  }

  .feature-box {
    justify-content: start;
  }

  // footer

  .footer__wrapper {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 640px) {
  .header.mb_150 {
    margin-bottom: 50px;
  }
  // headings

  .title_xtra {
    font-size: 28px;
  }

  // hero

  .section {
    margin-bottom: 40px;
  }

  .grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
  }

  .quote {
    &__text {
      font-size: 14px;
      padding-left: 30px;
    }
  }

  .title_3 {
    padding-left: 30px;
  }

  .grid {
    gap: 15px;
  }

  .play-btn {
    z-index: 1;
    & img {
      width: 50px;
      height: 50px;
    }
  }

  .column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
  }
  .row {
    min-width: auto;
  }
  .content {
    min-width: 640px;
  }
  .content__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .line {
    padding-bottom: 5px;
    &:after {
      opacity: 0.01;
    }
  }
  .clients {
    text-align: center;
  }

  .mb_50 {
    margin-bottom: 10px;
  }

  .text {
    font-size: 16px;
  }
  //  footer

  .footer__links {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .video__inner {
    border: 1px solid rgb(165, 148, 148);
    padding: 20px;
    border-radius: 8px;
    width: 100vw;
  }
  .grid {
    gap: 10px;
  }
  .content {
    min-width: 480px;
  }
  .content__box {
    padding-left: 50px;
  }

  .column {
    grid-template-columns: 70px 150px 70px;
    gap: 10px;
  }

  .btn {
    font-weight: 400;
    font-size: 16px;
  }
}
